@page "/CreatePost"
@using System.Security.Claims
@using global::Shared.DTOs
@using global::Shared.Models
@using Httplients.ClientInterfaces
@inject IPostsService PostService;
@inject IUserService userService
@attribute [Authorize]
<div class="card">
    <h3>Create Post</h3>
        <div class="form-group field">
            <label>Title:</label>
            <input type="text" @bind="todoTitle"/>
            <label>Body:</label>
                        <input type="text" @bind="PostMessage"/>
        </div>
        <div class="form-group field">
        </div>
        <div class="button-row">
            @if (!string.IsNullOrEmpty(msg))
            {
                <label style="color : @color">@msg</label>
            }
            <button @onclick="Create" class="acceptbtn">Create</button>
        </div>
</div>


@code {
    private IEnumerable<User> users;
    private User? foundUser;
    private string todoTitle = "";
    private string PostMessage = "";
    private string msg = "";
    private string color = "";
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    private string? name;
    
    private bool isLoggedIn;   


    
    
    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal user = authState.User;
        isLoggedIn = user.Identity != null;
        
        if (!isLoggedIn) return;
        
        name = user.Identity!.Name!;
        users= await userService.GetUsers(name);
        foreach (var u in users)
        {
            foundUser = u;
        }
    }

    private async Task Create()
    {
        msg = "";
        if (string.IsNullOrEmpty(todoTitle))
        {
            color = "red";
            msg = "Title cannot be empty!";
            return;
        }

        try
        {
            PostCreationDto dto = new(foundUser.Id, todoTitle, PostMessage);
            await PostService.CreateAsync(dto);
            color = "green";
            msg = "Post created";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}