@inject IPostsService postsService;
@inject IUserService userService;
@page "/ViewPosts"
@using Httplients.ClientInterfaces
@using global::Shared.Models
@using global::Shared.DTOs
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="card">
    <h3>Posts</h3>

    <div>
        <button @onclick="LoadPosts">Load</button>
    </div>

    @if (posts == null)
    {
    }
    else if (!posts.Any())
    {
        <p>No posts to display</p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Owner ID</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in posts)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.userId</td>
                </tr>
            }
            </tbody>
        </table>
    }
    @if (!string.IsNullOrEmpty(msg))
    {
        <label style="color: red">@msg</label>
    }

</div>

@code {

    private IEnumerable<Post>? posts;
    private int? logedUserId;
    private bool logedIn = false;
    private string postTitle = "";
    private string body = "";


    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            await userService.GetAsync(null, logedUserId, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
        logedIn = true;
    }

    private async Task LoadPosts()
    {
        try
        {
            posts = await postsService.GetAsync(null, null, null, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task goToPost(int itemPostId)
    {
        postsService.id = itemPostId;
        NavigationManager.NavigateTo("/ViewOnePost");
    }

}